name: android_api_server_client_example
description: "Demonstrates how to use the android_api_server_client plugin."
publish_to: 'none'

environment:
  sdk: ^3.5.4
dependencies:
  flutter:
    sdk: flutter

  android_api_server_client:
    path: ../
  syntax_highlight: ^0.4.0
  cupertino_icons: ^1.0.8

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:

  uses-material-design: true


dependency_overrides:
  permission_handler: ^11.3.1